@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(80, 4, 90);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(305, 80%, 48%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
  #View {
    top: 1rem;
    right: 0rem;
    position: fixed;
  }
}

#view .counter1{
  top: 0rem;
  position: fixed;
}
